.social-media-share {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
  color: black;
  margin-top: 250px;

  strong {
    transform: rotate(-90deg);
    margin-bottom: 64px;
  }
}
