<section class="luthiery-about-section">
  <div class="luthiery-about-section__header">
    <p>
      Formamos profissionais especializados na construção e reparo de
      instrumentos musicais de corda, unindo tradição artesanal e técnicas
      modernas.
    </p>

    <h2>Sobre o Curso</h2>
  </div>
  <div class="luthiery-about-section__body">
    <div class="luthiery-about-section__text">
      <p>
        O curso de Luteria da UFPR é pioneiro no Brasil, formando profissionais
        na construção e manutenção de instrumentos musicais, especialmente de
        corda, como violões, violinos, guitarras e baixos. Combinando técnicas
        artesanais e conhecimentos modernos, o curso oferece uma formação ampla,
        que envolve áreas como química, física, música e arte, além do trabalho
        manual com madeira.
      </p>
      <p>
        Desde 2009, o curso atende à crescente demanda por luthiers, preparando
        os alunos para atuar em todos os níveis, desde instrumentos simples para
        iniciantes até modelos sofisticados para músicos profissionais,
        promovendo uma carreira autônoma com diploma superior tecnológico.
      </p>
      <app-button label="Faça parte" href="#" />
    </div>
    <div class="luthiery-about-section__figures">
      <div class="luthiery-about-section__figure-row">
        <div class="luthiery-about-section__figure">
          <img src="assets/banners/luthiery-item-1.jpg" />
          <span>Construção Artesanal Precisa</span>
          <span>Transformando madeira em música.</span>
        </div>
        <div class="luthiery-about-section__figure">
          <img src="assets/banners/luthiery-item-2.jpg" />
          <span>Técnicas Modernas e Tradicionais</span>
          <span>Unindo passado e presente.</span>
        </div>
      </div>
      <div class="luthiery-about-section__figure-row">
        <div class="luthiery-about-section__figure">
          <img src="assets/banners/luthiery-item-3.jpg" />
          <span>Instrumentos Sob Medida</span>
          <span>Perfeição em cada detalhe.</span>
        </div>
        <div class="luthiery-about-section__figure">
          <img src="assets/banners/luthiery-item-4.jpg" />
          <span>Domínio de Ferramentas Manuais</span>
          <span>Precisão e habilidade artesanal.</span>
        </div>
      </div>
    </div>
  </div>
</section>
