<section class="home-courses-section">
  <div class="home-courses-section__header">
    <section-title>Conheça Nossos Cursos</section-title>
    <p>
      Formando profissionais desde <strong>1914</strong>, você também pode fazer
      parte dessa história.
    </p>
    <app-button href="https://servicos.nc.ufpr.br/PortalNC/Home" label="Ver página de concursos" />
  </div>
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <div class="home-courses-section__img-container">
            <img src="assets/banners/tads.jpg" alt="Curso TADS" />
            <div class="home-courses-section__img-overlay"></div>
            <div class="home-courses-section__title-container">
              <span>Tecnólogo em Análise e Desenvolvimento de Sistemas</span>
              <span>Descubra mais sobre essa graduação</span>
            </div>
          </div>
        </li>
        <li class="glide__slide">
          <div class="home-courses-section__img-container">
            <img
              src="assets/banners/sector-unities.jpg"
              alt="Unidades do setor"
            />
            <div class="home-courses-section__img-overlay"></div>
            <div class="home-courses-section__title-container">
              <span>Pós-Graduação Lato Sensu</span>
              <span>Veja os cursos ofertados</span>
            </div>
          </div>
        </li>
        <li class="glide__slide">
          <a routerLink="/luteria" class="home-courses-section__img-container">
            <img src="assets/banners/luteria-1.jpg" alt="Curso de Luteria" />
            <div class="home-courses-section__img-overlay"></div>
            <div class="home-courses-section__title-container">
              <span>Tecnólogo em Luteria</span>
              <span>Descubra mais sobre essa graduação</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
