<main class="history-page">
  <main-banner
    title="Conheça a História do Setor"
    bannerSrc="assets/banners/history.jpg"
  />

  <social-media-share />
  <section class="history-section">
    <go-back-link label="Setor" href="/setor" />
    <section-title>História</section-title>
    <p>
      A história do Setor de Educação Profissional e Tecnológica inicia em 1914
      quando o Colégio Progresso foi doado à Universidade Federal do Paraná. Em
      1990 o Colégio passa a denominar-se Escola Técnica da Universidade Federal
      do Paraná. Foi elevada à categoria de Setor em 1997 e classificada como
      unidade integrante da UFPR.
    </p>

    <p>
      O Conselho Universitário da UFPR reunido no dia 27 de agosto de 2009
      aprovou a reestruturação da Escola Técnica, passando a denominar-se Setor
      de Educação Profissional e Tecnológica – SEPT, consolidando o ensino
      profissionalizante na instituição e firmando o apoio à criação do
      Instituto Federal no Paraná, proposto pelo MEC.
    </p>
    <p>
      A proposta de ampliação da educação profissional no Brasil estabeleceu as
      diretrizes atuais para o processo de integração das instituições federais
      de educação tecnológica foi definida basicamente pelo Decreto nº
      2.208/1997 e Decreto nº 6.095/2007 contribuíram para implantar as novas
      instituições e o novo Setor.
    </p>
    <p>
      A nova unidade da UFPR ocupa as instalações do antigo Setor Escola
      Técnica, atua no ensino, pesquisa e extensão com objetivo de promover a
      educação profissional e tecnológica. Atualmente, o SEPT oferta um programa
      de mestrado, oito cursos tecnólogos e dois cursos técnicos, além de
      coordenar outros programas e projetos inscritos na pesquisa e na extensão,
      além de participar ativamente dos órgãos colegiados e na gestão da UFPR.
    </p>
  </section>

  <section class="history-section">
    <section-title>O que é?</section-title>
    <p>
      O Setor de Educação Profissional e Tecnológica (SEPT) é a unidade de
      ensino, pesquisa e extensão da Universidade Federal do Paraná que coordena
      os cursos de educação Profissional e Tecnológica, a ele vinculados, em
      todos os níveis. O SEPT oferece cursos de formação profissional para
      jovens e adultos atuarem em funções técnicas profissionais, segundo a área
      de identificação, atendendo as demandas regionais.
    </p>

    <p>
      A educação desenvolvida pelo SEPT articula o ensino regular ao mundo do
      trabalho, por meio das ações educativas, teórico-práticas, em constante
      interação com as novas tecnologias, a partir das contradições sociais
      marcadas por demandas especificas, contribui na preparação dos sujeitos
      que buscam a superação e com a promoção do desenvolvimento socioeconômico
      e ambiental. A formação educacional do SEPT busca capacitar a coletividade
      com conhecimentos gerais e específicos indispensáveis para chegar à
      verdade, segundo a concepção dialética da sociedade, na relação do homem
      com o mundo.
    </p>
  </section>

  <section class="history-section">
    <section-title>Missão</section-title>
    <p>
      Promover a educação, o ensino, o desenvolvimento científico, profissional,
      tecnológico e cultural, visando, sobretudo contribuir para uma adequada
      qualidade de vida às gerações atuais e futuras. Promover a formação e
      capacitação de cidadãos buscando o permanente desenvolvimento da vida
      produtiva, sendo responsável, no âmbito da UFPR, pelo desenvolvimento e
      pesquisa da Educação Profissional e Tecnológica nas dimensões definidas
      pelo artigo 39 da Lei nº 9394/1996.
    </p>
    <p>
      Contribuir para a solução dos problemas de interesse da comunidade, sob a
      forma de cursos, estudos, eventos e serviços. Construir propostas
      multidisciplinares, articulada com outros setores no interesse da UFPR,
      vinculadas ao mundo do trabalho e a prática social. Buscar a inclusão de
      novos modelos que agreguem os conhecimentos técnicos e as competências
      profissionais aos conceitos humanísticos, éticos, artísticos para a
      capacidade de autoaprendizagem, o autoconhecimento, o desenvolvimento
      pessoal e social, introduzindo na sociedade, profissionais com visão e
      competências diversas, capazes de executá-las com sabedoria.
    </p>
  </section>
  <section class="history-section">
    <section-title>Papel</section-title>
    <p>
      A Reitoria avalia como importante e necessário o papel do Setor de
      Educação Profissional e Tecnológica podendo co-participar da oferta de
      cursos e/ou Programas, em todos os níveis, com outros Setores da
      Universidade ou com outras Instituições, devendo estar, neste último caso,
      amparada mediante convênio estabelecido entre a UFPR e a respectiva
      instituição.
    </p>
  </section>
</main>
