<main class="luthiery-mimu">
  <main-banner
    bannerSrc="assets/banners/mimu.jpg"
    title="MIMU - Museu de Instrumentos Musicais"
  />
  <section class="luthiery-mimu__about">
    <p>
      O Curso de Tecnologia em Luteria da UFPR valoriza a construção de
      instrumentos musicais como parte da cultura universal e, por meio de ações
      extensionistas, oferece à comunidade um contato direto com essa arte. A
      obrigatoriedade do ensino de música nas escolas reforça a oportunidade de
      aproximação entre o curso e a sociedade, promovendo educação e cultura.
    </p>

    <h2>Sobre o MIMU</h2>
  </section>

  <section class="luthiery-mimu__content">
    <div class="luthiery-mimu__content-text">
      <p>
        Este programa de extensão universitária tem como objetivo criar um
        espaço dedicado à arte da luteria, focando especialmente na construção
        de instrumentos musicais de corda feitos em madeira. A ideia do Museu de
        Instrumentos Musicais surgiu em conexão direta com a criação do Curso de
        Tecnologia em Luteria da UFPR, pioneiro no Brasil, para que o curso
        pudesse organizar e exibir os instrumentos de produção própria ao lado
        de exemplares antigos, formando uma linha didática interativa e
        incluindo eventos musicais.
      </p>
      <app-button label="Acesse" />
    </div>

    <div class="luthiery-mimu__content-figures">
      <div class="luthiery-mimu__content-figure-row">
        <img src="assets/banners/mimu-img-1.jpg" />
        <img src="assets/banners/mimu-img-2.jpg" />
      </div>

      <div class="luthiery-mimu__content-figure-row">
        <img src="assets/banners/mimu-img-3.jpg" />
        <img src="assets/banners/mimu-img-4.jpg" />
      </div>
    </div>
  </section>
</main>
