<main class="luthiery-course-coordination">
  <main-banner title="Corpo Docente" bannerSrc="assets/banners/luthiery-course-coordination.jpg" />
  <div class="luthiery-course-coordination__sections">
    <section>
      <app-table
        title="Coordenação de Curso"
        [columns]="tableColumns"
        [body]="tableBody"
        [hidePagination]="false"
      />
    </section>
  </div>
  <section class="luthiery-course-coordination__section">
    <h2>Colegiado</h2>
    <a href="#">Acesso aos membros do colegiado do curso</a>
  </section>
  <section class="luthiery-course-coordination__section">
    <h2>Contato</h2>
    <span>Coordenação: (41) 3333 3333</span>
    <span>E-mail: luteria&#64;ufpr.br</span>
    <span>Secretaria do Curso: (41) 3333 3333 – Responsável: John Doe (TAE).</span>
  </section>
  <section class="luthiery-course-coordination__section">
    <h2>Contato</h2>
    <a href="#">Representantes do curso no Conselho Setorial de Pesquisa (CSP/SEPT)</a>
    <a href="#">Representantes do curso no Conselho Setorial de Extensão (CSE/SEPT)</a>
  </section>
</main>
