<section class="home-academic-section">
  <div class="home-academic-section__header">
    <app-button label="Acessar Agora" />
    <p>
      Se você ja é um estudante, docente ou pesquisador no Setor de
      <br />Educação Profissional e Tecnológica, você pode, no link ao lado,<br />
      encontrar as principais páginas e conteúdos que atendam a sua<br />
      necessidade.
    </p>
    <section-title>Área dos Acadêmicos</section-title>
  </div>

  <div class="home-academic-section__body">
    <img src="assets/banners/students-1.jpg" />
    <div class="home-academic-section__links">
      <div class="home-academic-section__link">
        <a href="http://200.236.3.198:28080/secretariaonline/Home" target="__blank"
          >Secretaria On-line</a
        >
        <p>
          Faça login e acesse e gerencie suas todas as suas solicitações
          abertas, ou consulte as informações que precisar a respeito do
          funcionamento do SEPT
        </p>
      </div>
      <div class="home-academic-section__link">
        <a href="#">Grade Horária</a>
        <p>
          Confira a grade horária atualizada com as disciplinas e horários dos
          cursos oferecidos pelo SEPT.
        </p>
        <div class="home-academic-section__link-buttons">
          <app-button href="#" label="1º Semestre" />
          <app-button href="#" label="2º Semestre" />
        </div>
      </div>
      <div class="home-academic-section__link">
        <a href="#">Administrativo</a>
        <p>
          Acesse as informações e serviços administrativos do SEPT, incluindo
          documentos e orientações para docentes, técnicos e alunos.
        </p>
        <div class="home-academic-section__link-buttons">
          <app-button href="#" label="Manutenção" />
          <app-button href="#" label="Financeiro" />
        </div>
      </div>
    </div>
  </div>
</section>
