.news-main-banner {
  position: relative;

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 787px;
    object-fit: cover;
  }

  &__text-container {
    position: absolute;
    z-index: 11;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border-left: 5px solid #fff;
    padding-left: 32px;
    gap: 12px;

    > span {
      font-weight: 700;

      &:nth-child(1) {
        font-size: 24px;
      }

      &:nth-child(2) {
        font-size: 56px;
      }
      color: white;
    }
  }

  &__news-info {
    display: flex;
    margin-top: 29px;
    justify-content: space-between;

    span {
      font-weight: 700;
      font-size: 24px;
      color: white;

      &:nth-child(2) {
        color: #fff;
        opacity: 0.6;
      }
    }
  }

  &__overlay {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 80%
    );
    aspect-ratio: 16 / 9;
    max-height: 787px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
