<main class="sector-unities">
  <main-banner title="Unidades do Setor" bannerSrc="assets/banners/sector-unities.jpg" />
  <div class="sector-unities__sections">
    <section>
      <go-back-link label="Setor" href="/setor" />
      <app-table
        title="Direção"
        [columns]="sampleColumns"
        [body]="sampleBody"
      />
    </section>
    <section>
      <app-table
        title="Coordenação de Cursos"
        [columns]="sampleColumns"
        [body]="sampleBody"
      />
    </section>
  </div>
</main>
