<main class="sept-news-list">
  <news-carousel />
  <section class="sept-news-list__section">
    <section-title>Últimas Notícias</section-title>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non mauris
      sit amet odio luctus cursus. Quisque quis sapien felis
    </p>
    <div class="sept-news-list__news-card">
      <div class="sept-news-list__news-img">
        <img src="assets/banners/news-card.jpg" />
      </div>
      <div class="sept-news-list__news-text">
        <a routerLink="/noticia">Novo tipo de acesso ao Office 365</a>
        <div class="sept-news-list__news-info">
          <span>Publicado em: 16 de outubro de 2024</span>
          <span>por Belinski</span>
        </div>
        <p>
          Ativação de Duplo Fator de Autenticação nas contas do Microsoft 365
          Seguindo a política de […]
        </p>
      </div>
    </div>

    <div class="sept-news-list__news-card">
      <div class="sept-news-list__news-img">
        <img src="assets/banners/news-card.jpg" />
      </div>
      <div class="sept-news-list__news-text">
        <a routerLink="/noticia">Novo tipo de acesso ao Office 365</a>
        <div class="sept-news-list__news-info">
          <span>Publicado em: 16 de outubro de 2024</span>
          <span>por Belinski</span>
        </div>
        <p>
          Ativação de Duplo Fator de Autenticação nas contas do Microsoft 365
          Seguindo a política de […]
        </p>
      </div>
    </div>
    <div class="sept-news-list__news-card">
      <div class="sept-news-list__news-img">
        <img src="assets/banners/news-card.jpg" />
      </div>
      <div class="sept-news-list__news-text">
        <a routerLink="/noticia">Novo tipo de acesso ao Office 365</a>
        <div class="sept-news-list__news-info">
          <span>Publicado em: 16 de outubro de 2024</span>
          <span>por Belinski</span>
        </div>
        <p>
          Ativação de Duplo Fator de Autenticação nas contas do Microsoft 365
          Seguindo a política de […]
        </p>
      </div>
    </div>
    <div class="sept-news-list__news-card">
      <div class="sept-news-list__news-img">
        <img src="assets/banners/news-card.jpg" />
      </div>
      <div class="sept-news-list__news-text">
        <a routerLink="/noticia">Novo tipo de acesso ao Office 365</a>
        <div class="sept-news-list__news-info">
          <span>Publicado em: 16 de outubro de 2024</span>
          <span>por Belinski</span>
        </div>
        <p>
          Ativação de Duplo Fator de Autenticação nas contas do Microsoft 365
          Seguindo a política de […]
        </p>
      </div>
    </div>
    <div class="sept-news-list__pagination">
      <list-pagination />
    </div>
  </section>
</main>
