<main class="sept-news">
  <news-main-banner />

  <div class="sept-news__container">
    <social-media-share />
    <div>
      <section class="sept-news__section">
        <go-back-link href="/noticias" label="Ver listagem" />
        <section-title
          >INSCRIÇÕES ABERTAS PARA VAGA DOCENTE EM CONTABILIDADE</section-title
        >
        <div class="sept-news__content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non
            mauris sit amet odio luctus cursus. Quisque quis sapien felis. Donec
            fermentum, metus at efficitur sagittis, urna magna dapibus lacus,
            nec egestas justo orci in felis. Integer pretium nulla in felis
            pharetra, id efficitur magna finibus. Nulla ac nunc a nulla bibendum
            volutpat. Morbi vehicula ex non bibendum vestibulum. Etiam rhoncus
            turpis non tempor bibendum. Duis tincidunt eros id leo blandit, in
            congue magna feugiat. Phasellus sit amet nisi a justo faucibus
            facilisis. Curabitur accumsan odio ut enim vulputate, sed dignissim
            nisl tincidunt. Ut venenatis arcu in sem fermentum, a interdum risus
            consequat. Cras id libero ut augue convallis pharetra. Nulla
            facilisi. Integer euismod, erat quis pellentesque mollis, leo sapien
            blandit ex, nec dignissim nunc justo id sem. Vestibulum in posuere
            tortor, at aliquet nisi. Etiam sed tortor vitae lacus aliquet
            fringilla.
          </p>
          <p>
            Nulla ac nunc a nulla bibendum volutpat. Morbi vehicula ex non
            bibendum vestibulum. Etiam rhoncus turpis non tempor bibendum. Duis
            tincidunt eros id leo blandit, in congue magna feugiat. Phasellus
            sit amet nisi a justo faucibus facilisis. Curabitur accumsan odio ut
            enim vulputate, sed dignissim nisl tincidunt. Ut venenatis arcu in
            sem fermentum, a interdum risus consequat. Cras id libero ut augue
            convallis pharetra. Nulla facilisi. Integer euismod, erat quis
            pellentesque mollis, leo sapien blandit ex, nec dignissim nunc justo
            id sem. Vestibulum in posuere tortor, at aliquet nisi. Etiam sed
            tortor vitae lacus aliquet fringilla.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non
            mauris sit amet odio luctus cursus. Quisque quis sapien felis. Donec
            fermentum, metus at efficitur sagittis, urna magna dapibus lacus,
            nec egestas justo orci in felis. Integer pretium nulla in felis
            pharetra, id efficitur magna finibus. Nulla ac nunc a nulla bibendum
            volutpat. Morbi vehicula ex non bibendum vestibulum. Etiam rhoncus
            turpis non tempor bibendum. Duis tincidunt eros id leo blandit, in
            congue magna feugiat. Phasellus sit amet nisi a justo faucibus
            facilisis. Curabitur accumsan odio ut enim vulputate, sed dignissim
            nisl tincidunt. Ut venenatis arcu in sem fermentum, a interdum risus
            consequat. Cras id libero ut augue convallis pharetra. Nulla
            facilisi. Integer euismod, erat quis pellentesque mollis, leo sapien
            blandit ex, nec dignissim nunc justo id sem. Vestibulum in posuere
            tortor, at aliquet nisi. Etiam sed tortor vitae lacus aliquet
            fringilla.
          </p>
          <p>
            Nulla ac nunc a nulla bibendum volutpat. Morbi vehicula ex non
            bibendum vestibulum. Etiam rhoncus turpis non tempor bibendum. Duis
            tincidunt eros id leo blandit, in congue magna feugiat. Phasellus
            sit amet nisi a justo faucibus facilisis. Curabitur accumsan odio ut
            enim vulputate, sed dignissim nisl tincidunt. Ut venenatis arcu in
            sem fermentum, a interdum risus consequat. Cras id libero ut augue
            convallis pharetra. Nulla facilisi. Integer euismod, erat quis
            pellentesque mollis, leo sapien blandit ex, nec dignissim nunc justo
            id sem. Vestibulum in posuere tortor, at aliquet nisi. Etiam sed
            tortor vitae lacus aliquet fringilla.
          </p>
        </div>
      </section>
    </div>
  </div>
</main>
