<header class="app-header">
  <img src="assets/ufpr.svg" />
  <nav class="app-header__nav">
    <header-link label="Home" href="" />
    <header-link label="Setor" href="/setor" />
    <header-link label="Espaço do Estudante" href="/espaco-estudante" />
    <header-link label="Pesquisa e Extensão" href="/pesquisa-e-extensao" />
    <header-link label="Concursos e Testes" href="/concursos-e-testes" />
  </nav>
  <div class="app-header__accessibiliy">
    <span>
      <ng-icon name="featherGlobe" color="#848484" />
      <span>PT-BR</span>
    </span>
    <img src="assets/vlibras.png" />
  </div>
</header>
