<section class="luthiery-info-section">
  <div class="luthiery-info-section__header">
    <section-title>Conheça o Curso</section-title>
    <p>
      O curso de Luteria da UFPR capacita profissionais na construção e
      manutenção de instrumentos musicais, combinando tradição e inovação.
      Focado em técnicas artesanais, forma luthiers preparados para atender à
      demanda do mercado.
    </p>
    <app-button label="Conhecer" />
  </div>

  <div class="luthiery-info-section__body">
    <img src="assets/banners/info-section.jpg" />
    <div class="luthiery-info-section__info-container">
      <div class="luthiery-info-section__info">
        <p>Número de vagas</p>
        <p>
          O curso de Luteria oferece 30 vagas por ano, garantindo uma formação
          personalizada e de qualidade, com atenção especial a cada aluno
        </p>
      </div>
      <div class="luthiery-info-section__info">
        <p>Duração Recomendada</p>
        <p>
          A duração recomendada do curso é de três anos, permitindo que os
          alunos desenvolvam suas habilidades técnicas e artísticas de forma
          completa e aprofundada.
        </p>
      </div>
      <div class="luthiery-info-section__info">
        <p>Turno</p>
        <p>
          As aulas são ministradas nos turnos da manhã e da tarde, oferecendo
          flexibilidade para os estudantes se dedicarem às atividades práticas e
          teóricas do curso.
        </p>
      </div>
    </div>
  </div>
</section>
