.home-news-section {
  margin-top: 112px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    margin-bottom: 78px;

    p {
      text-align: center;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1044px;
    margin: 0 auto;
    row-gap: 70px;
    column-gap: 124px;
  }
}
