<section class="home-about-section">
  <div class="home-about-section__header">
    <section-title>Excelência Acadêmica e <br />Profissional</section-title>
    <p>
      O SEPT combina ensino e práticas voltadas ao mercado de trabalho, sempre
      em diálogo com novas tecnologias. Nosso foco é preparar estudantes para os
      desafios atuais, promovendo desenvolvimento socioeconômico e ambiental,
      com uma formação crítica e conectada à realidade.
    </p>
  </div>
  <div class="home-about-section__body">
    <ul>
      <about-topic
        title="FORMAÇÃO PRÁTICA E ATUALIZADA"
        content="O SEPT oferece uma formação que combina teoria e prática, preparando os alunos para os desafios reais do mercado de trabalho com foco em tecnologia e inovação."
        ><img src="assets/icons/Check.svg"
      /></about-topic>
      <about-topic
        title="DIVERSIDADE DE CURSOS"
        content="Com mestrado, cursos tecnólogos e técnicos, o SEPT oferece opções de formação em diferentes áreas, proporcionando uma educação alinhada às demandas do mercado regional e nacional."
        ><img src="assets/icons/GraduationCap.svg"
      /></about-topic>
      <about-topic
        title="INTEGRAÇÃO COM PESQUISA E EXTENSÃO"
        content="Os estudantes do SEPT têm a oportunidade de participar de projetos de pesquisa e extensão, ampliando seu aprendizado com experiências práticas e contribuindo diretamente para a comunidade."
        ><img src="assets/icons/Flask.svg"
      /></about-topic>
    </ul>
    <img src="assets/banners/sept.jpg" />
  </div>
</section>
